asgiref==3.5.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==36.0.1
defusedxml==0.7.1
Django==4.0.1
django-ckeditor==6.2.0
django-crontab==0.7.1
django-js-asset==2.0.0
django-paypal==1.1.2
django-sslserver==0.22
djangorestframework==3.13.1
gitdb==4.0.9
GitPython==3.1.27
idna==3.3
IP2Location==8.6.4
oauthlib==3.2.0
pycparser==2.21
PyJWT==2.3.0
python-dateutil==2.8.2
python-http-client==3.3.6
python3-openid==3.2.0
pytz==2020.1
requests==2.27.1
requests-oauthlib==1.3.1
sendgrid==6.9.6
six==1.16.0
smmap==5.0.0
social-auth-app-django==5.0.0
social-auth-core==4.2.0
sqlparse==0.3.1
starkbank-ecdsa==2.0.3
urllib3==1.26.8
