{% extends 'posts_base/base_with_header.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href={% static 'posts/css/post_list.css' %}>
{% endblock css %}

{% block logo_text %}
    <div idv="header">
        <div class="container">
            <h1><img src="{% static 'posts/images/bw_white.png'%}"></h1>
        </div>
    </div>
{% endblock logo_text %}

{% block content %}
    <div>
        <br>
        <br>
    </div>
    {% if page_obj.object_list %}
        <div class="post_container">
            {% for post in page_obj.object_list  %}
                {% if user.is_authenticated and user.username == "admin" %}
                    <div class="post"><a href="{% url 'post-detail' post.id %}">         
                        <h2 class="title">{{post.title}}</h2>
                        <p class="date">{{post.dt_created}}</p>
                        <p class="text">{{post.content|slice:":100"}}</p>
                    </a></div>
                {% endif %}
                {% if post.title == user.username %}
                    <div class="post"><a href="{% url 'post-detail' post.id %}">         
                        <h2 class="title">{{post.title}}</h2>
                        <p class="date">{{post.dt_created}}</p>
                        <p class="text">{{post.content|slice:":100"}}</p>
                    </a></div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="paging">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="first">first</a>
                <a href="?page={{page_obj.previous_page_number}}" class="prev">previous</a>
            {% endif %}
            <span>
                <p>{{page_obj.number}} of {{page_obj.paginator.num_pages}}</p>
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}" class="next">next</a>
                <a href="?page={{page_obj.paginator.num_pages}}" class="last">last</a>
            {% endif %}
        </div>
    {% else %}
        <div class="blank">
            <p>No Data<br>빅웨일즈 관리자에게 문의해주세요</p> 
        </div>
    {% endif %}
{% endblock content %}
